<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Thesis Project</title> 
  <style type="text/css">    
body{
    background-image: url('static/tm.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
    color: #FFFFFF  ;
    font-size: 'Garamond';
}
  </style>
</head>  

<body>

    <!-- <script type="text/javascript" src="jquery-1.11.3.min.js"></script> -->
  <!-- <script type="text/javascript" src="wickedpicker.js"></script> -->
  <!-- <script type='text/javascript'src='jquery-ui.js'></script> -->

  <!-- <div id="banner"> -->
     <h1 align="CENTER">Multiple Intelligence Analyzer</h1>
   
    <h2>Please enter the following details :</h1>
  <form action="/signup" method="post">
    <!-- <p class="leads">Enter the required data :</p> -->
    <p> Name </p>
    <input type = "text" STYLE="color: #ADF703; background-color: #000000;" name = "name" id = "name" autofocus required>    

        <!-- <p> Name </p> -->
    <!-- <input type = "text" name = "name" id = "name">  -->
        <p> Father's Name </p>
    <input type = "text" STYLE="color: #ADF703; background-color: #000000;" name = "father" id = "father" required> 
        <p> Date of Birth </p>
    <input type = "date" STYLE="color: #ADF703; background-color: #000000;" name = "dob" id = "dob" required> 

      <p> Address </p>
    <input type = "text" STYLE="color: #ADF703; background-color: #000000;" name = "address" id = "address" required> 
        <p> Phone Number </p>
    <input type = "text" STYLE="color: #ADF703; background-color: #000000;" name = "phone" id = "phone" required> 
        <p> Counsellor's Details </p>
    <input type = "text" STYLE="color: #ADF703; background-color: #000000;" name = "counsellor" id = "counsellor" required> 
            <h2>Please enter the details about the rich count values now :</h1>

                <p> L1 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "l1rc" id = "l1rc" required> 
    Pattern         
    <select name="l1p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>

 <p> L2 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "l2rc" id = "l2rc" required> 
    Pattern         
    <select name="l2p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> L3 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "l3rc" id = "l3rc" required> 
    Pattern         
    <select name="l3p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> L4 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "l4rc" id = "l4rc" required> 
    Pattern         
    <select name="l4p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> L5 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "l5rc" id = "l5rc" required> 
    Pattern         
    <select name="l5p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> R1 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "r1rc" id = "r1rc" required> 
    Pattern     <select name="r1p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> R2 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "r2rc" id = "r2rc" required> 
    Pattern     <select name="r2p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> R3 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "r3rc" id = "r3rc" required> 
    Pattern     <select name="r3p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> R4 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "r4rc" id = "r4rc" required> 
    Pattern     <select name="r4p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>
 <p> R5 </p>
    RC <input type = "text" STYLE="color: #ADF703; background-color: #000000;"name = "r5rc" id = "r5rc" required> 
    Pattern     <select name="r5p" STYLE="color: #ADF703; background-color: #000000;">
    <option value="W1">W1</option>
    <option value="W2">W2</option>
    <option value="W3">W3</option>
    <option value="W4">W4</option>
    <option value="L">L</option>
    <option value="R">R</option>
    <option value="X1">X1</option>
    <option value="X2">X2</option>
    <option value="W5">W5</option>
    <option value="W6">W6</option>
    <option value="W3.1">W3.1</option>
    <option value="W3.2">W3.2</option>
    <option value="X2.1">X2.1</option>
    <option value="X2.2">X2.2</option>
    <option value="W4.1">W4.1</option>
  </select>

    

<!--         <p> L1 </p>
        <input type="file" name="l1" accept="image/*">
        <p> L2 </p>
        <input type="file" name="l2" accept="image/*">
        <p> L3 </p>
        <input type="file" name="l3" accept="image/*">
        <p> L4 </p>
        <input type="file" name="l4" accept="image/*">
        <p> L5 </p>
        <input type="file" name="l5" accept="image/*">
        <p> R1 </p>
        <input type="file" name="r1" accept="image/*">
        <p> R2 </p>
        <input type="file" name="r2" accept="image/*">
        <p> R3 </p>
        <input type="file" name="r3" accept="image/*">
        <p> R4 </p>
        <input type="file" name="r4" accept="image/*">
        <p> R5 </p>
        <input type="file" name="r5" accept="image/*"> -->



        <!-- 
            <CENTER><p> Test </p>
    <input type = "text" name = "dob" id = "dob" align="top"> 
</CENTER> -->
<!--   <div class="form">
    <label>Name</label>
    <input type="text" name="name">

    <label>Email</label>
    <input type="text" name="email">

    <label>Phone</label>
    <input type="text" name="phone">
  </div> -->
  <br><br>
              <input type="submit" value="Generate Report" STYLE="color: #ADF703; background-color: #000000;"></input>

    </form>

  <!-- </div> -->

</body>

</html>

