<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login Page</title> 

</head>  
  
<body>
    <!-- <script type="text/javascript" src="jquery-1.11.3.min.js"></script> -->
  <!-- <script type="text/javascript" src="wickedpicker.js"></script> -->
  <!-- <script type='text/javascript'src='jquery-ui.js'></script> -->

  <!-- <div id="banner"> -->
    <h1>Please Login</h1>
  <form action="/login" method="post">
    <p> Username </p>
    <input type = "text" name = "username" id = "username" required> 
        <p> Password </p>

    <input type = "password" name = "password" id = "password" required> 

<input type="submit" value="Submit"></input>

    </form>

  <!-- </div> -->

</body>
</html>

