<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>No such user found</title> 

</head>  
  
<body>
    <!-- <script type="text/javascript" src="jquery-1.11.3.min.js"></script> -->
  <!-- <script type="text/javascript" src="wickedpicker.js"></script> -->
  <!-- <script type='text/javascript'src='jquery-ui.js'></script> -->

  <!-- <div id="banner"> -->
    <h1>No such user exists. Please try again.</h1>
  <form action="/backtologin" method="post">

              <input type="submit" value="Go Back"></input>

    </form>

  <!-- </div> -->

</body>
</html>

